<table>
  <h1>Панель администрирования</h1>

  <div class="">
    <%= link_to "Публикации", admin_path %>
    <strong><%= link_to "Комментарии", comments_path %></strong>
    <%= link_to "Пользователи", users_path %>
    <%= link_to "Жанры", categories_path %>
  </div>
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Username</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to user.email, user %></td>
        <td><%= user.username %></td>
      </tr>
    <% end %>

  </tbody>
</table>
