<% if user_signed_in? && current_user.isadmin == true %>
  <p>Admin <%= @user.isadmin %></p>

<% end %>

<p>ID <%= @user.id %></p>
<p>Email <%= @user.email %></p>
<p>Username <%= @user.username %></p>



Followers <%= @user.followers.count %>
Following <%= link_to @user.followees.count, following_path %>
<% if (user_signed_in? && @user.id == current_user.id) || (user_signed_in? && current_user.isadmin == true) %>
    <%# link_to 'Edit Profile', edit_user_registration_path %>
    <%= link_to 'Edit Profile', edit_user_path(current_user) %>
<% elsif user_signed_in? && current_user.followees.include?(@user) %>
    <h5><%= button_to "Unfollow", unfollow_user_path, method: "POST" %></h5>
<% elsif user_signed_in? %>
    <h5><%= button_to "Follow", follow_user_path, method: "POST"  %></h5>
<% else %>
<%# можно добавить кнопку для регистрации или что-нибудь ещё  %>
<% end%>

In favorites <%= @user.favorites.count %> <%= (@user.favorites.count) == 1 ? 'Post' : 'Posts'%>
<% @posts.each do |post| %>
  <br><%= link_to post.title, post %>
<% end %>
