<div class="wrapper_2">
<p id="notice"><%= notice %></p>
<%= image_tag(@post.image.url, alt: 'Image') if @post.image? %>
<div class="wrapper_content">
<div class="content">
	<strong>Автор: <%= @post.author %></strong>
</div>
<div class="content">
  <strong>Название картины: <%= @post.name %></strong>
</div>
<div class="content year">
  <strong>Год создания: <%= @post.title %></strong>
</div>
<div class="content">
	<strong>Период/Стиль: <%= @post.content %></strong>
</div>
</div>
<div class="editback">
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
</div>
<h2>Comments</h2>
<%= render @post.comments %>
<h2>Add a comment:</h2>
<%= render "comments/form" %>
</div>
