<!DOCTYPE html>
<html>
  <head>
    <title>Artistory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
    <% if user_signed_in? && current_user.isadmin == true %>
       <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
   <% end %>
  </head>

  <% current_user_id = 2 %>
    <%if current_user%>
      <%current_user_id= current_user.id%>
    <% end %>

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% elsif alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

    <header>
        <!-- <nav>
            <%= link_to "Промо", promo_path %>
            <%= link_to "О нас", about_path %>
            <%= link_to "Блог", posts_path %>
        </nav> -->
    </header>

  <body>
  <%= react_component 'A_Logo' %>
   <%= react_component 'A_Header', {current_user: current_user, current_user_id: current_user_id}%>


  

  <!-- <div class="top_menu">
    <%= link_to "Reset", posts_path %>
  	<% Category.all.each do |cat| %>
    <%= link_to cat.name, request.params.merge(category: cat.id) %> |
    <% end %>

    <% User.all.each do |user| %>
    <%= link_to user.email, request.params.merge(user: user.id)  %> |
    <% end %>|
      <% if user_signed_in? %>
        <%= link_to 'Профиль', current_user %>  <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Войти', new_user_session_path %>  <%= link_to 'Регистрация', new_user_registration_path %>
      <% end %>
      <% if user_signed_in? && current_user.isadmin == true%>
        <%= link_to "Панель администрирования", admin_path %>
      <% end %>
    </div> -->

        <%= yield %>
        <% if notice %>
            <%= notice %>
        <% end %>
    <footer>

        <!-- <div class="soc-media">
            <#%= image_tag("facebook.png") %>
            <#%= image_tag("instagram.png") %>
            <#%= image_tag("behance.png") %>
        </div> -->
    </footer>
  </body>
</html>
