<!DOCTYPE html>
<html>
  <head>
    <title>Serviceproject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
  </head>

  <body>

   <% if notice %>
   <p class="notice"><%= notice %></p>
   <% elsif alert %>
   <p class="alert"><%= alert %></p>
   <% end %>

 <div class="top_menu">
   <% if user_signed_in? %>
     <%= link_to 'Аккаунт', current_user %> | <%= link_to 'Выход', destroy_user_session_path, method: :delete %>
   <% else %>
     <%= link_to 'Вход', new_user_session_path %> | <%= link_to 'Регистрация', new_user_registration_path %>
   <% end %>
 </div>


    <%= yield %>
  </body>
</html>
